*.toolbox/Reconfig*
*.toolbox/*aux
*.toolbox/*.log
*.toolbox/*.pdf
*.toolbox/*.tex
*.toolbox/*___Reconfig*_SnapShot*.launch
*.toolbox/*___Inductive*_SnapShot*.launch
*.toolbox/**/*.tla
*.toolbox/**/*.tlaps
*.toolbox/**/*.out
*.toolbox/**/MC.cfg
latex/
.DS_Store
*.pdf
traces/
states/
/*.out
graphs
tla2tools.jar
*TTrace*
**/*.tlaps/
**/*.toolbox/
**/*.synctex.gz
cex-tikz/
