<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="ReconfigInductiveInv"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.8"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="22"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="IInit"/>
    <stringAttribute key="modelBehaviorNext" value="INext"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="elections, reconfigs, log, state, immediatelyCommitted, config, currentTerm, configVersion, configTerm"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="0IndInv"/>
        <listEntry value="1ElectionSafetyInd =&gt; ElectionSafety"/>
        <listEntry value="1ElectionSafety"/>
        <listEntry value="1PrimarysCurrentConfigIsInOwnTerm"/>
        <listEntry value="1PrimaryHasQuorumInElectionConfigInTermOrGreater"/>
        <listEntry value="1PrimaryConfigHasAtLeastOneMember"/>
        <listEntry value="1PrimaryElectionRecorded"/>
        <listEntry value="1PrimaryConfigsMonotonic"/>
        <listEntry value="1ConfigTermNotGreaterThanCurrentTerm"/>
        <listEntry value="1ConfigExistenceImpliesReconfigOccurred"/>
        <listEntry value="1ReconfigRequiresParentWasCommitted"/>
        <listEntry value="0AllNodesInInitialConfigImpliesAllNodesHaveSameConfig"/>
        <listEntry value="0NormalReconfigsDoNotChangeConfigTerm"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Primary;;Primary;1;0"/>
        <listEntry value="MaxTerm;;3;0;0"/>
        <listEntry value="MaxConfigVersion;;3;0;0"/>
        <listEntry value="Secondary;;Secondary;1;0"/>
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="Server;;{n1, n2};1;0"/>
        <listEntry value="MaxLogLen;;0;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;0..2;0;0"/>
        <listEntry value="Seq;S:;BoundedSeq(S, MaxLogLen);0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="LoglessReconfig"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="1ActiveConfigs"/>
    </listAttribute>
</launchConfiguration>
